.heading {
  color: #F8F8FF;
  text-align: center;
  font-family: 'Lobster', cursive;
  margin: 30px 0px 10px;
}

h2 {
  font-size: 50pt;
  font-family: 'Raleway', sans-serif;
  .boxed border: 2px solid goldenrod
}

h5 {
  font-size: 25;
  font-family: 'Lobster',cursive;
}

h4 {
  font-size: 35;
  font-family: 'Lobster',cursive;}

body {
  background-color: #000000;
  background-image: url("snowflakes.png");
  min-height: 400px;
  min-width: 100px;
  background-attachment: fixed;
  background-position: right top;
  background-repeat: no-repeat;
  margin-right: 2em;
}

p {
  font-family: 'Arial', sans-serif;
  color: darkblue;
  text-align: justify;
  margin: 20px 15% 0px;
  text-indent: 1em;
}

p.first-p {
  border-top-style: dotted;
  padding-top: 25px;
  margin-top: 25px;
  border-width: 2px;
  border-color: #3d4281;
}

p.first-transition {
  border-bottom-style: dotted;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-width: 2px;
  border-color: #3d4281;
}

p.end-p {
  border-bottom-style: groove;
  padding-bottom: 40px;
  margin-bottom: 25px;
  border-width: 2px;
  border-color: #3d4281;
  font-style: oblique;
}
