.heading {
  color: goldenrod;
  text-align: center;
  font-family: 'Lobster',cursive;
  margin: 35px 0px 10px;
}

#title {
  font-family: 'Raleway400',sans-serif;
  font-size: 48;
  color: goldenrod;
  text-transform: capitalize;
}

#title:hover {
  color: ghostwhite
}

#first-letter::first-letter {
  font-size:20;
  color: #goldenrod;
}

body {
  background-color: transparent;
  background-image: url(341-Homework/week-08-assignment/css/Empty.png);
  min-height: 100%;
  min-width: 1024px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat
}

#first-letter::first-letter
{
  font-size:20;
  color: #goldenrod;
}

p {
  font-family: 'Raleway400', sans-serif;
  font-size:20
  color: ghostwhite;
  text-align: justify;
  margin: 15px 15% 0px;
  text-indent: 1em;
}


p first-transition {
  border-bottom-style: dotted;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-width: 4px;
  border-color: goldenrod;
}

#Five {
  color: goldenrod;
}

p first-transition {
  border-bottom-style: dashed;
  padding-bottom: 40px;
  margin-bottom: 15px;
  border-width: 4px;
  border-color: goldenrod;
}
